@import '~bootstrap/dist/css/bootstrap.min.css';
#wrapper{
    margin-left: 2rem;
}
.atag{
    margin-left: 35rem;
    font-size: 20px;
    text-decoration-line: underline;
}
.skills{
    margin-left: 5rem;
}